{% extends '::base.html.twig' %}

{% block body -%}

    <div id="albums"></div>
    <div id="another-div"></div>

    {% block javascript %}

        <script id="albumsTpl" type="text/template">
            <div><%=title%></div>
        </script>

    {% endblock %}



    {% block content %}



    {% endblock %}

{% endblock %}