<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('stylesheets/style.css') }}" type="text/css">
    </head>
    <body>

        <div class="wrapper">
            <a href="#albums">All Albums</a>
            <a href="#shortalbums">Short Albums</a>
            <div id="main-region"></div>
        </div>

        <script id="missing-album-view" type="text/template">
            This Album doesn't exist!
        </script>

        <script id="album-view" type="text/template">
            <a href="#albums" class="pull-right">Back to Albums</a>
           <h2><%= album.title %></h2>

           <div class="images col-12">
               <% _.each(images.items, function(image){ %>
                    <div class="col-12"><img src="<%= image.path %>" width="200" height="200" /></div>
               <% }); %>
           </div>
            <% if (page_show > 1) { %>
            <div class="pagination col-12">
                <ul>
                    <% if (page_active > 1) { %>
                        <li><a href="#/album/<%= album.id %>/page/<%= page_active-1 %>">«</a></li>
                    <% } %>

                    <% for (var i = 1; i <= page_show; i++) { %>
                        <li <% if (page_active == i) print('class="active"') %> ><a href="/#album/<%= album.id %>/page/<%= i %>"><%= i %></a></li>
                    <% } %>

                    <% if (page_active < page_show) { %>
                        <li><a  href="#/album/<%= album.id %>/page/<%= page_active+1 %>">»</a></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        </script>

        <script id="albums-list-item" type="text/template">
            <td><%= id %></td>
            <td><%= title %></td>
            <td>
                <a href="#album/<%=id%>" class="btn js-show">Show</a>
            </td>
        </script>

        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('js/vendor/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/underscore/underscore.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/backbone/backbone.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/backbone.marionette.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/entities/album.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/albums/albums_app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/albums/list/list_view.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/albums/list/list_controller.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/albums/show/show_view.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/albums/show/show_controller.js') }}"></script>
        {% block javascripts %}{% endblock %}

        <script type="text/javascript">
            AlbumManager.start();
        </script>


    </body>
</html>
