{% extends 'AppBundle::main.html.twig' %}

{% block content %}

    <h2>Album: {{ album.title }}</h2>

    {% for image in images %}
        <div>
            <img src="{{ image.path }}" />
            <div>{{ image.title }}</div>
        </div>
    {% endfor %}

    <a href="{{ path('frontend_albums_list') }}">Back to list</a>

{% endblock %}