{% extends 'AppBundle::main.html.twig' %}

{% block content %}

{#    {% for album in albums %}
        <div>
            <a href="{{ path('frontend_album_item', { 'id': album.id }) }}">{{ album.title }}</a>
        </div>
    {% endfor %}#}



{% endblock %}