// Requirements
// ============

@import "susy";

$susy: (
        columns: 12,
        gutters: 1/4,
        container: 60em,
        math: fluid,
        output: float,
        gutter-position: inside,

        debug: (
              image: hide,
              color: rgba(#66f, .5),
              output: background,
              toggle: top right,
        )
);


$break-small: 320px;
$break-large: 1200px;

