// Style
// ======

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);
@import "grids";
@import "compass/css3/font-face";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  color: #333;
}

h2 {
  font-weight: 300;
}

table {
  padding: gutter();
  display: table-cell;
  width: span(2 of 12);
  border-collapse: collapse;

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

}

th, td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
  display: table-cell;
  vertical-align: inherit;
}

.wrapper {
  @include container();
}

#main-region {
  @include span(12);
}

// PAGINATION
// ----------

.pagination {
  text-align: center;
  margin-bottom: 20px;
}

.pagination ul {
  display: inline-block;

  margin-left: 0;
  margin-bottom: 0;

}

.pagination li {
  display: inline;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 30px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
  background-color: #ECECEC;
}

.pagination .active a {

  cursor: default;
}

.pagination .disabled a,
.pagination .disabled a:hover {

  background-color: transparent;
  cursor: default;
}

.pagination li:first-child a {
  border-left-width: 1px;

}

.pagination li:last-child a {

}

// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}

.images {
  img{
    width: 100%;
    height: auto;
    max-width: 100%;
  }

}

.col-12 {
  @include span(12);
}

.col-3 {
  @include span(3);
}

.pull-right {
  float: right;
}